@media only screen and (max-width : 768px) 
    .popup
        max-width: 481px
    
    .popup__body
        flex-direction: column-reverse
        padding-left: 59px
        padding-right: 59px
    
    .col-1-of-2
        padding: 0
    
    
    .form-field:last-child
        margin-bottom: 25px
    
    .col-1-of-2,.button--fb,.button--gp
        width: 100%
    
    .bordered 
        padding-top:25px
        border: none
        border-top: 1px solid rgba(0, 0, 0,.149)
    

@media only screen and (max-width : 320px) 
    .form-field
        a
            margin-left 20px

