.form-registration {
    padding: 20px 50px;
    max-width: 600px;
    width: 100%;
    margin: 20px auto;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,.1);
    font-family: 'Montserrat', sans-serif;

    &__title {
      text-align: center;
      font-size: 28px;
    }
    &__messege {
      width: 100%;
      height: 20px;
      display: block;
      margin-top: 4px;
      background: rgba(255, 0, 0, 0.1);
      font-size: 12px;
      padding: 3px 5px;
    }
    .form-registration-item {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 10px auto;
    }

    &__field {
      border: 1px solid #c7c7c7;
      border-radius: 2px;
      height: 30px;
      padding-left: 5px;

      &_error {
        border-color: rgba(255, 0, 0, 0.1);
      }
    }

    &__btn {
      display: block;
      background: #FFEB3B;
      transition: 0.5s;
      width: 100%;
      height: 40px;
      border: none;
  
      &:hover{
        background: rgb(243, 218, 5);
      }
    }
  }

  
.modal-box {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.54);

  .modal-content {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: rgb(153, 214, 81);
    margin: auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: white;
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: 0.5s;

    &:hover,
    &:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }
  }
}
