body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
}
.wrapper {
  min-width: 1300px;
  margin: 0 auto;
}

/*/ Header /*/

header {
  margin: 0 auto;
  margin-top: 20px;
  width: 1026px;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  position: relative;
}
.logo a {
  padding-left: 40px;
  z-index: 99;
  color: #6d6e70;
  font-family: Nunito;
  font-size: 31px;
  font-weight: bold;
  text-transform: uppercase;
}
.logo a:before {
  content: "";
  width: 33px;
  height: 36px;
  position: absolute;
  top: -9px;
  left: 1px;
  left: 1px;
  background: url("../img/icons/logo.png") no-repeat;
}
.menu {
  list-style: none;
  display: flex;
}

.menu_item {
  margin-left: 30px;
}
.menu_link {
  opacity: 0.67;
  color: #666666;
  font-size: 13px;
  font-weight: 600;
  line-height: 77px;
  text-transform: uppercase;
}

.menu_item a:hover {
  color: greenyellow;
  font-size: 20px;
}
.login-btn_link {
  display: block;
  border-radius: 20px;
  padding: 14px 30px 14px 30px;
  background-color: #add136;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.81;
  color: #ffffff;
}
.login-btn_link:hover {
  background: white;
  color: dodgerblue;
}

/*/ Header End /*/

.slider {
  background: url("../img/layers.jpg") no-repeat center;
  background-size: cover;
  margin: 0 auto;
  width: auto;
  height: 570px;
  text-align: center;
  padding-top: 170px;
  position: relative;
  margin-bottom: 99px;
}

h1 {
  color: #ffffff;
  font-size: 49px;
  font-weight: 600;
  line-height: 77px;
  padding-bottom: 57px;
}

h1 .sm {
  display: block;
  font-size: 35px;
  font-weight: 400;
}
/*/ BUTTON /*/
.button {
  display: inline-block;
  vertical-align: middle;
  font-family: "Open Sans", Arial, sans-serif;
}
.button:hover {
  background: white;
  color: dodgerblue;
}
/*/ BUTTON END /*/

.s_btn {
  border-radius: 10px;
  height: 73px;
  background-color: #99c50a;
  color: #ffffff;
  font-size: 19px;
  font-weight: 600;
  line-height: 77px;
  padding: 0 40px 0 40px;
}

.s_nav {
  position: absolute;
  bottom: 45px;
  right: 143px;
}
.s_nav-r {
  color: white;
  margin-left: 30px;
}

.sec-1 {
  text-align: center;
  margin-bottom: 117px;
}
.sec-1 .icon-1 {
  display: block;
  margin: 0 auto;
  padding-bottom: 70px;
}
.sec-1 h2 {
  color: #515151;
  font-size: 31px;
  font-weight: 600;
  line-height: 50px;
  text-transform: uppercase;
  padding-bottom: 70px;
}
.sec-1 p {
  opacity: 0.71;
  color: #515151;
  font-family: "Open Sans";
  font-size: 19px;
  font-weight: 400;
  line-height: 40px;
  padding-bottom: 50px;
}
.sec-2 {
  width: 980px;
  margin: 0 auto;
  margin-bottom: 307px;
  position: relative;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 37px;
  border-bottom: 1px solid #e6e6e6;
  counter-reset: item;
}

.banner_link {
  color: #656565;
  font-size: 33px;
  font-weight: 300;
  padding-left: 60px;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 31.1px;
}
.banner_link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 43px;
  height: 43px;
  text-align: center;
  background: #5f5f5f;
  border-radius: 50px;
  counter-increment: item;
  content: counter(item) "";

  padding-top: 11px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}
.banner_link:hover:before {
  background: #add136;
}
.banner_link:hover {
  border-bottom: 1px solid #add136;
}
.banner_link_active {
  border-bottom: 1px solid #add136;
}
.banner_link_active:before {
  background: #add136;
}

.banner_item {
  list-style: none;
}
/*/ Test /*/
.banner-inside {
  display: flex;
  width: 868px;
  height: 136px;

  align-items: center;
  position: absolute;
  top: 103px;
  left: 84px;
}

.banner-inside_icon {
  margin-right: 105px;
}
.banner-inside_text h3 {
  color: #add136;
  font-size: 25px;
  font-weight: 400;
  padding-bottom: 34px;
}

.banner-inside_text p {
  opacity: 0.67;
  color: #606060;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
}
.sec-3 {
  display: flex;
  justify-content: center;
  margin-bottom: 81px;
}
.sec-3_block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 680px;
  height: 305px;
}
.sec-3_block_icon {
  margin-right: 45px;
}

.sec-3_block_text span {
  color: #515151;
  font-family: Montserrat;
  font-size: 23px;
  font-weight: 400;
  display: block;
  margin-bottom: 34px;
}
.sec-3_block_text p {
  color: #515151;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  padding-bottom: 31px;
}

.sec-3_btn {
  border-radius: 10px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  line-height: 50px;
  padding: 0 40px 0 40px;
  height: 51px;
}
.sbtn-1 {
  background-color: #26a6d1;
}
.sbtn-2 {
  background-color: #add136;
}
.sec-3_block:first-child {
  background: #e3f9ff;
}
.sec-3_block:last-child {
  background: #f5f9ec;
}

.sec-4 {
  display: flex;
  width: 978px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 67px;
}
.sec-4_block_text span {
  display: block;
  color: #515151;
  font-size: 29px;
  font-weight: 600;
  padding-bottom: 26px;
}
.sec-4_block_text p {
  color: #8f8f8f;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
}
.sec-4_btn {
  border-radius: 10px;
  font-weight: 600;
  line-height: 50px;
  padding: 0 20px 0 20px;
  height: 51px;
  border: 1px solid #515151;
  opacity: 0.71;
  color: #515151;
  font-size: 15px;
  font-weight: 600;
}
.sec-5 {
  width: 977px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.block-5 {
  position: relative;
  width: 300px;
  height: 520px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  background-color: #f7f7f7;
  border-radius: 10px;
}
.block-5_top {
  position: relative;
  height: 226px;
}
.block-5_top img {
  width: 100%;
}
.new {
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: 10px 0 0;
  border: 25px solid transparent;
  border-left: 25px solid #add136;
  border-top: 25px solid #add136;
}
.new:before {
  content: "NEW";
  position: absolute;
  top: -12px;
  left: -21px;
  transform: rotate(-45deg);
  color: #ffffff;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}
.price {
  position: absolute;
  bottom: 16px;
  right: 14px;
  width: 139px;
  height: 35px;
  background-color: #26a6d1;
  border-radius: 5px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  padding: 10px 5px 10px;
}
.price_number {
  font-weight: 400;
  text-align: center;
}
.block-5_botton {
  padding: 30px 23px 0 23px;
}
.block-5_botton_text {
  display: block;
  color: #484848;
  font-size: 17px;
  font-weight: 700;
  padding-bottom: 20px;
}
.block-5_botton p {
  opacity: 0.71;
  color: #484848;
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
}
.scale {
  margin-top: 20px;
  height: 14px;
  background-color: #e3e3e3;
  border-radius: 20px;
}

.scale_level {
  width: 38px;
  height: 14px;
  background-color: #add136;
  border-radius: 20px 0 0 20px;
}
.b5r {
  width: 140px;
}
.scale_text {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  color: #8d8d8d;
  font-size: 13px;
  font-weight: 600;
  padding-bottom: 20px;
  border-bottom: 1px solid #d6d6d6;
}
.block-5_botton-ok {
  margin-left: 100px;
  width: 160px;
  position: relative;
  display: block;
  margin-top: 15px;
  opacity: 0.85;
  color: #484848;
  font-size: 15px;
  font-weight: 600;
}
.block-5_botton-ok:after {
  content: "";
  margin-left: 5px;
  position: absolute;
  top: 0;
  right: 0;
  border: 7px solid transparent;
  border-left: 10px solid #add136;
}

.sec-6 {
  margin: 0 auto;
  height: 670px;
  background: url(../img/sec-6_bg.png) no-repeat center;
  background-size: cover;
  margin-bottom: 42px;
}
.sec-6_text {
  padding-top: 120px;
  text-align: center;
}
.sec-6_text h3 {
  color: #9ec02d;
  font-size: 39px;
  font-weight: 600;
  padding-bottom: 20px;
}
.sec-6_text p {
  color: #949494;
  font-size: 19px;
  font-weight: 400;
  line-height: 35px;
}
.sec-6_comments {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 949px;
  padding-top: 130px;
}
.c-block {
  width: 397px;
  height: 166px;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  padding: 35px 20px;
  position: relative;
}
.c-block:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 90px;
  border-top: 50px solid #ffffff;
  border-right: 60px solid transparent;
}
.c-block_text {
  color: #9ec02d;
  font-size: 21px;
  font-weight: 600;
}
.c-block p {
  margin-top: 20px;
  color: #848484;
  font-size: 13px;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}
.icon_autor {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -100px;
  left: 55px;

  color: #494949;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
}
.icon_autor img {
  margin-right: 10px;
}

.sec-7 {
  height: 150px;
  margin: 0 auto;
  text-align: center;

  color: #848484;
  font-size: 13px;
  font-weight: 400;
}
.partners {
  padding-bottom: 40px;
  margin-bottom: 25px;
  border-bottom: 1px solid #ededed;
}
