* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #000;
  font-weight: bold;
}
label {
  cursor: pointer;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #e8e8e8;
}
.popup {
  max-width: 840px;
  border-top: 2px solid #e62b1e;
  background: #fff;
  margin: 30px auto;
  -webkit-box-shadow: 0px 2px 1.8px 0.2px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 1.8px 0.2px rgba(0,0,0,0.25);
}
.popup__header {
  position: relative;
}
.popup__close {
  position: absolute;
  top: 14px;
  right: 16px;
  width: 15px;
  height: 15px;
  font-size: 0;
  background: rgba(255,255,255,0);
  border: none;
  cursor: pointer;
}
.popup__close:before,
.popup__close:after {
  position: absolute;
  top: 0;
  content: " ";
  height: 15px;
  width: 2px;
  background-color: #c2c2c2;
}
.popup__close:before {
  transform: rotate(45deg);
}
.popup__close:after {
  transform: rotate(-45deg);
}
.popup__header-text {
  font-size: 31px;
  font-weight: bold;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.popup__body {
  display: flex;
  background-color: #f3f3f3;
  padding-top: 40px;
  padding-bottom: 41px;
}
.col-1-of-2 {
  width: 50%;
  padding-left: 59px;
  padding-right: 59px;
}
.bordered {
  border-right: 1px solid rgba(0,0,0,0.149);
}
.button {
  position: relative;
  padding-top: 10px;
  padding-bottom: 13px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
  background-color: #252525;
  width: 103px;
  cursor: pointer;
}
.button:hover {
  background-color: #666;
}
.button--fb {
  margin-bottom: 21px;
  padding-left: 34px;
  background-color: #3e5b96;
  width: 300px;
}
.button--fb:hover {
  background-color: #314877;
}
.button--fb::before {
  position: absolute;
  top: 10px;
  left: 15px;
  content: "";
  height: 22px;
  width: 10px;
  background: url("../img/fb.png") no-repeat;
}
.button--gp {
  background-color: #dd5342;
  padding-left: 36px;
  width: 300px;
}
.button--gp:hover {
  background-color: #ac4033;
}
.button--gp::before {
  position: absolute;
  top: 10px;
  left: 15px;
  content: "";
  height: 22px;
  width: 25px;
  background: url("../img/gp.png") no-repeat;
}
.form-field {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 23px;
}
.form-field:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.checkbox__theme {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  margin-right: 3px;
  background-color: #3b99fc;
}
.checkbox input:checked + .checkbox__theme {
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
[type="text"],
[type="email"],
[type="password"] {
  border-radius: 3px;
  border: 1px solid #ddd;
  display: block;
  height: 38px;
  width: 100%;
  margin-top: 8px;
  padding-left: 10px;
}
#js-greeting__close {
  display: none;
}
[type="checkbox"] {
  display: none;
}
.popup__footer {
  padding-top: 31px;
  padding-bottom: 35px;
  text-align: center;
  font-size: 18px;
  color: #666;
}
