/* font-family: "Name"; */

@font-face {
    font-family: 'SusaLight';
    src: url(../fonts/Susa-Light.otf);
}

@font-face {
    font-family: 'OptimaLTStd';
    src: url(../fonts/OptimaLTStd-XBlackItalic.otf);
}
